@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPageSPMO.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        SetActiveTab("register");
    });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-show-password/1.0.3/bootstrap-show-password.min.js"></script>
@Scripts.Render("~/Scripts/Main/RegisterUserController.js")
<div id="contact" class="section-bg wow fadeInUp" data-ng-app="VarmalaVivahApp" data-ng-controller="RegisterUserController">
    <div class="container">
        <div class="section-header">
            <h3>Sign Up</h3>
        </div>
        <div class="form">
            <input type = "hidden" id="pagename" value="registeruser" />
            <hr />
            <ng-form class="contactForm">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type = "text" placeholder="Name*" id="FirstName" maxlength="15" data-ng-blur="ValidateFName()"
                               class="form-control setMargin" />
                        <span class="h3color" data-ng-show="ErrorModel.IsFirstName">
                            {{ErrorMessage}}
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type = "text" placeholder="Father's Name*" id="MiddleName" data-ng-blur="ValidateMName()"
                               maxlength="15" class="form-control setMargin" />
                        <span class="h3color" data-ng-show="ErrorModel.IsMiddleName">
                            {{ErrorMessage}}
                        </span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type = "text" placeholder="Surname*" id="LastName" data-ng-blur="ValidateLName()"
                               maxlength="15" class="form-control setMargin" />
                        <span class="h3color" data-ng-show="ErrorModel.IsLastName">
                            {{ErrorMessage}}
                        </span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type = "email" id="Email"
                               placeholder="Email Id"
                               maxlength="50" class="form-control setMargin emailinput" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <select id="ddlGender" class="form-control setMargin" data-ng-click="ValidateGender()">
                            <option value="">--Select--</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                        
                        <span class="h3color" data-ng-show="ErrorModel.IsGender">
                            {{ErrorMessage}}
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="number" id="ContactNo" placeholder="Mobile No." class="form-control setMargin"
                               data-ng-blur="ValidateContactNo()" />
                        <span class="h3color" data-ng-show="ErrorModel.IsContactNo">
                            {{ErrorMessage}}
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="password" id="Password" data-ng-blur="ValidatePassword()"
                               placeholder="Password*" maxlength="10" class="form-control setMargin" title="Password format should be numeric with minimum length 8 digit."  />
                        <span class="h3color" data-ng-show="ErrorModel.IsPassword">
                            {{ErrorMessage}}
                        </span>
                    </div>
                    <div class="col-md-1">
                        <span toggle="#password-field" class="glyphicon glyphicon-eye-open toggle-password"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="password" id="ConfirmPassword" data-ng-blur="ValidateConfirmPassword()"
                               placeholder="Re Enter Password*" maxlength="10" class="form-control setMargin" data-toggle="password"/>
                        <span class="h3color" data-ng-show="ErrorModel.IsConfirmPassword">
                            {{ErrorMessage}}
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <select class="form-control" id="BehalfOf">
                            <option value="Self">Self</option>
                            <option value="Son">Son</option>
                            <option value="Daughter">Daughter</option>
                            <option value="Brother">Brother</option>
                            <option value="Sister">Sister</option>
                            <option value="Relative">Relative</option>
                        </select>
                        <span class="h3color" data-ng-show="ErrorModel.IsBehalfOf">
                            {{ErrorMessage}}
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        @Html.DropDownList("AgentId", ViewBag.AgentId as SelectList, new { @class = "form-control" })
                        <span class="h3color" data-ng-show="ErrorModel.IsPanchayatName">
                            {{ErrorMessage}}
                        </span>
                    </div>
                </div>
                <div class="form-row" data-ng-show="IsRegistrationSuccess">
                    <div class="form-group col-md-4">
                        <input type="text" id="OTP"
                               placeholder="Enter OTP" maxlength="6" class="form-control setMargin" />
                        <input type="hidden" data-ng-model="OTP" />
                        <span class="h3color" data-ng-show="ErrorModel.IsOTP">
                            {{ErrorMessage}}
                        </span>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <input type="checkbox" id="termsandconditions" class="termandconditios" />
                        <label class="termandconditios" for="termsandconditions">
                            <a href="#" target="_blank"
                               class="anchorcolor">I have read and agree to the Terms.</a>
                        </label>
                        <span class="h3color" data-ng-show="ErrorModel.IsTerms">
                            {{ErrorMessage}}
                        </span>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-4" style="margin-bottom:30px;">
                        <input type="button" value="Sign Up" class="btn btn-primary termandconditios" data-ng-click="Save(RegisterModel)">
                        <input type="button" value="Resend OTP" class="btn btn-primary termandconditios" data-ng-show="IsDisplayResend" data-ng-click="ResendOTP(RegisterModel)">
                    </div>
                </div>

            </ng-form>
            
        </div>
    </div>
</div>

