@{
    Layout = "~/Views/Shared/_LayoutAdminSPMO.cshtml";
}

@Scripts.Render("~/Scripts/Main/RegisterUserController.js")
<div class="form-horizontal" data-ng-app="VarmalaVivahApp" data-ng-controller="RegisterUserController">
    <div class="form-group" id="contentdiv">
        <div id="divPersonal">
            <div class="col-md-12 divPadding">
                <h3>New User Registration</h3>
                <div class="form">
                    <input type="hidden" id="pagename" value="registeruser" />
                    <hr />
                    <ng-form class="contactForm">
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <input type="text" placeholder="Name*" id="FirstName" maxlength="15" data-ng-blur="ValidateFName()"
                                       class="form-control1 inputborder" />
                                <span class="h3color" data-ng-show="ErrorModel.IsFirstName">
                                    {{ErrorMessage}}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <input type="text" placeholder="Father's Name*" id="MiddleName" data-ng-blur="ValidateMName()"
                                       maxlength="15" class="form-control1 inputborder" />
                                <span class="h3color" data-ng-show="ErrorModel.IsMiddleName">
                                    {{ErrorMessage}}
                                </span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <input type="text" placeholder="Surname*" id="LastName" data-ng-blur="ValidateLName()"
                                       maxlength="15" class="form-control1 inputborder" />
                                <span class="h3color" data-ng-show="ErrorModel.IsLastName">
                                    {{ErrorMessage}}
                                </span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <input type="email" id="Email" data-ng-blur="ValidateEmail()"
                                       placeholder="Email Id*"
                                       maxlength="50" class="form-control1 inputborder emailinput" />
                                <span class="h3color" data-ng-show="ErrorModel.IsEmail">
                                    {{ErrorMessage}}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <select id="ddlGender" class="form-control1 inputborder">
                                    <option value="">--Select--</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                                <span class="h3color" data-ng-show="ErrorModel.IsContactNo">
                                    {{ErrorMessage}}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <input type="number" id="ContactNo" placeholder="Mobile No." class="form-control1 inputborder"
                                       data-ng-blur="ValidateContactNo()" />
                                <span class="h3color" data-ng-show="ErrorModel.IsContactNo">
                                    {{ErrorMessage}}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <input type="password" id="Password" data-ng-blur="ValidatePassword()"
                                       placeholder="Password*" maxlength="10" class="form-control1 inputborder" />
                                <span class="h3color" data-ng-show="ErrorModel.IsPassword">
                                    {{ErrorMessage}}
                                </span>
                            </div>
                            <div class="col-md-1">
                                <span title="Password format should be alphanumeric with Special Charector." class="h3color">?</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <input type="password" id="ConfirmPassword" data-ng-blur="ValidateConfirmPassword()"
                                       placeholder="Re Enter Password*" maxlength="10" class="form-control1 inputborder" />
                                <span class="h3color" data-ng-show="ErrorModel.IsConfirmPassword">
                                    {{ErrorMessage}}
                                </span>
                            </div>
                        </div>
                        <input type="hidden" id="AgentId" value="1" />

                        <div class="col-md-12" data-ng-show="IsRegistrationSuccess">
                            <div class="form-group col-md-4">
                                <input type="text" id="OTP"
                                       placeholder="Enter OTP" maxlength="6" class="form-control1 inputborder" />
                                <input type="hidden" data-ng-model="OTP" />
                                <span class="h3color" data-ng-show="ErrorModel.IsTerms">
                                    {{ErrorMessage}}
                                </span>
                            </div>
                            <input type="checkbox" id="termsandconditions" class="termandconditios" style="display:none;" />
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-4" style="margin-bottom:30px;">
                                <input type="button" value="Sign Up" class="btn btn-primary termandconditios" data-ng-click="SaveUserFromAdmin(RegisterModel)">
                                <input type="button" value="Cancel" class="btn btn-primary termandconditios" onclick="window.location='@Url.Action("Index","UserProfile")'">
                            </div>
                        </div>

                    </ng-form>

                </div>
            </div>
        </div>

    </div>
</div>


